<div class="container max-w-screen-lg mx-auto px-4 md:max-w-screen-lg md:px-6 lg:px-8 px-50 pt-20" style="min-height: 80vh;">

  <div class="items-center">
    <form [formGroup]="urlForm" >
      <div class="">
        <input type="text"
               id="repoAddressField"
               name="newRepoUrl"
               class="form-control border-b border-gray-500 focus:border-indigo-500 focus:outline-none invalid:border-amber-300 w-1/2"
               formControlName="url"
               placeholder="ex: github.com/user/myrepo"
               (keydown.enter)="addRepo()"
               autofocus>
        <div *ngIf="urlForm.invalid" class="alert">
          <div *ngIf="urlForm.get('url')?.errors && urlForm.get('url')?.value != ''" class="text-amber-600">
            <div *ngIf="urlForm.get('url')?.hasError('pattern')">Invalid URL</div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <br>
  <hr>
  <br>

  <div class="collection" >
    <ng-container *ngFor="let repo of repositories; index as i; first as isFirst" >
        <app-repository-item
          [repository]="repo"
          [isOpen]="repositoriesStates[repo.id]"
          (toggleEvent)="toggleItem(i)"
          (deleteRepoEvent)="deleteRepo(i)"
        ></app-repository-item>
    </ng-container>
  </div>
</div>


<div class="flex justify-center cursor-pointer text-neutral-400" style="marg-top: 15em;">
  <a href="https://github.com/4nt0ineB/gitclout" target="_blank">
    <svg xmlns="http://www.w3.org/2000/svg" width="2em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
      <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
    </svg>
  </a>
</div>

